[submodule "externals/imgui"]
	path = externals/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "externals/imgui-sfml"]
	path = externals/imgui-sfml
	url = git@github.com:eliasdaler/imgui-sfml.git
